* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    /* background: url('../images/gym-bg.jpg') no-repeat center center/cover; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Dark overlay */
body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.65);
    top: 0;
    left: 0;
}

/* Login Card */
.login-box {
    position: relative;
    z-index: 1;
    background: white;
    padding: 40px;
    width: 380px;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.5);
    text-align: center;
}

/* Title */
.login-box h2 {
    margin-bottom: 25px;
    font-weight: 600;
}

/* Inputs */
.login-box input {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

/* Button */
.login-box button {
    width: 100%;
    padding: 12px;
    background: #ff7a45;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.login-box button:hover {
    background: #e56733;
}

/* Register text */
.login-box p {
    margin-top: 15px;
}

.login-box a {
    color: #ff7a45;
    text-decoration: none;
    font-weight: 500;
}