

{% extends 'accounts/base_dashboard.html' %}

{% block content %}
<center>
<div class="hero">
    <h1>Welcome {{ request.user.username }} 💪</h1>
    <p>Track your fitness journey and achieve your goals.</p>
</div>

<div class="cards">

    <div class="card">
        <h3>🏋 Workout Tracker</h3>
        <p>Monitor your gym performance daily.</p>
    </div>

    <div class="card">
        <h3>🥗 Food Tracker</h3>
        <p>Track calories and nutrition intake.</p>
    </div>

    <div class="card">
        <h3>📈 Progress</h3>
        <p>View your fitness growth over time.</p>
    </div>

</div>
</center>

{% endblock %}